flows.json
[{"id":"b5a81f2e3eb03fa1","type":"tab","label":"File Manager","disabled":false,"info":"","env":[]},{"id":"86c7ced7778f2393","type":"comment","z":"b5a81f2e3eb03fa1","name":"File Browser","info":"1) Update the default folder in the Init node\n2) Update the default folder in the Reset node as well\n3) You can duplicate the Reset nodes and use them as saved shortcuts\n4) Check the Convert Timestamps function node if you want to see your dates in a different format. I just used the Javascript toISOString format.\n5) The Graph button can read any CSV file which have any number of values, but the first column always contains a timestamp column with javascript timestamp of the data point.","x":110,"y":20,"wires":[]},{"id":"c70ee9d447b51e59","type":"fs-file-lister","z":"b5a81f2e3eb03fa1","name":"Files","start":"/home/agge/sluggo_config/Clients","pattern":"*.*","folders":"*","hidden":false,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":810,"y":440,"wires":[["931c8a16c7e6d270","7f23d180a5ec7629"]]},{"id":"960ed25f8f6f8eca","type":"inject","z":"b5a81f2e3eb03fa1","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"change","payload":"/home/agge/sluggo_config/Clients","payloadType":"str","x":270,"y":20,"wires":[["3d94127506b4188c"]]},{"id":"9251efe611fe8cdd","type":"ui_dropdown","z":"b5a81f2e3eb03fa1","name":"File Selector","label":"","tooltip":"","place":"Select a file","group":"100bf9478f6e140e","order":12,"width":5,"height":1,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1170,"y":420,"wires":[["4029a9549e27dbbc"]]},{"id":"c24025b2234566aa","type":"ui_template","z":"b5a81f2e3eb03fa1","group":"100bf9478f6e140e","name":"","order":5,"width":12,"height":6,"format":"<div ng-bind-html=\"msg.payload\" height=\"400\" style=\"height: 400px;\"><br/>\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1360,"y":480,"wires":[[]]},{"id":"a7f6018cf505c733","type":"template","z":"b5a81f2e3eb03fa1","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table width=\"100%\">\n    <tr><th>File Name</th><th>Size</th><th>Created</th><th>Changed</th></tr>\n    {{#payload}}\n        <tr>\n            <td><a href=\"/download?filename={{name}}\" target=\"blank\">{{fname}}</a></td>\n            <td>{{stat.size}}</td>\n            <td>{{stat.created}}</td>\n            <td>{{stat.changed}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","output":"str","x":1220,"y":480,"wires":[["c24025b2234566aa"]]},{"id":"931c8a16c7e6d270","type":"function","z":"b5a81f2e3eb03fa1","name":"Convert timestamps","func":"for (var i=0; i<msg.payload.length; i++) {\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n}\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":480,"wires":[["a7f6018cf505c733"]]},{"id":"20a707e920291ee4","type":"ui_button","z":"b5a81f2e3eb03fa1","name":"","group":"100bf9478f6e140e","order":10,"width":"3","height":1,"passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","className":"","icon":"delete","payload":"","payloadType":"str","topic":"","topicType":"str","x":110,"y":520,"wires":[["ec864df01052e7a1"]]},{"id":"4713c3464b34a53d","type":"function","z":"b5a81f2e3eb03fa1","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    // and delete the context/selection as we are deleting the file as well\n    flow.set(\"fileselected\");\n    return msg;\n}","outputs":1,"noerr":0,"x":450,"y":580,"wires":[["640afe238b3d35dc"]]},{"id":"640afe238b3d35dc","type":"file","z":"b5a81f2e3eb03fa1","name":"Delete file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":620,"y":580,"wires":[["c70ee9d447b51e59","863a0df092e2e6fc","7c3a2836e54894be"]]},{"id":"b3d475ce48c94c60","type":"http in","z":"b5a81f2e3eb03fa1","name":"","url":"/download","method":"get","upload":false,"swaggerDoc":"","x":140,"y":640,"wires":[["c0492ed2e1b3e128"]]},{"id":"0eaa29e77e18cc3d","type":"http response","z":"b5a81f2e3eb03fa1","name":"","statusCode":"","headers":{},"x":910,"y":640,"wires":[]},{"id":"c0492ed2e1b3e128","type":"function","z":"b5a81f2e3eb03fa1","name":"Get the file name","func":"msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":640,"wires":[["380365f36ac5c650"]],"outputLabels":["Folder selected"]},{"id":"380365f36ac5c650","type":"file in","z":"b5a81f2e3eb03fa1","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":560,"y":640,"wires":[["c22c122ee32c3672"]]},{"id":"c22c122ee32c3672","type":"change","z":"b5a81f2e3eb03fa1","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/csv","tot":"str"},{"t":"set","p":"headers.Content-Disposition","pt":"msg","to":"contentdisposition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":640,"wires":[["0eaa29e77e18cc3d"]]},{"id":"13d6af96cfd1b821","type":"ui_button","z":"b5a81f2e3eb03fa1","name":"","group":"100bf9478f6e140e","order":6,"width":3,"height":1,"passthru":false,"label":"Backup","tooltip":"","color":"","bgcolor":"","className":"","icon":"backup","payload":"","payloadType":"str","topic":"","topicType":"str","x":120,"y":700,"wires":[["b6f157f0af369bce"]]},{"id":"b6f157f0af369bce","type":"function","z":"b5a81f2e3eb03fa1","name":"Get filename","func":"// Get the folder from the flow context\nlet folder = flow.get(\"folderselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (folder===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.folder = folder;\n\nif (msg.folder.compress(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":700,"wires":[["d2bbdb34dd8eba44"]]},{"id":"d2bbdb34dd8eba44","type":"debug","z":"b5a81f2e3eb03fa1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":700,"wires":[]},{"id":"fb38034198c9be8f","type":"ui_toast","z":"b5a81f2e3eb03fa1","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Yes","cancel":"No","raw":false,"topic":"","name":"Confirmation","x":130,"y":580,"wires":[["1a2811e4df9f4e98"]]},{"id":"ec864df01052e7a1","type":"change","z":"b5a81f2e3eb03fa1","name":"Set message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Delete confirmation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Are you sure you want to delete this file?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":520,"wires":[["fb38034198c9be8f"]]},{"id":"1a2811e4df9f4e98","type":"switch","z":"b5a81f2e3eb03fa1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":580,"wires":[["4713c3464b34a53d"]]},{"id":"3d94127506b4188c","type":"function","z":"b5a81f2e3eb03fa1","name":"Folder handling","func":"let folder = context.get(\"folder\");\nif (folder===undefined) {\n    folder=\"/\";\n    context.set(\"folder\", folder);\n}\n\nlet hidden = context.get(\"hidden\");\nif (hidden===undefined) {\n    hidden=false;\n    context.set(\"hidden\", hidden);\n}\n/*\nif (msg.topic===\"up\") {\n    var the_arr = folder.split('/');\n    the_arr.pop();\n    folder=the_arr.join('/'); \n    context.set(\"folder\", folder);\n}\n*/\nif (msg.topic===\"change\") {\n    folder=msg.payload;    \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    context.set(\"hidden\", hidden);\n}\n\nmsg.payload = {\"start\":folder, \"hidden\": hidden};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":360,"wires":[["c70ee9d447b51e59","863a0df092e2e6fc","4abb754dd129d19d","6dfa5f99e95f7cb9","b88ec0252dabc43b","7dd2b36ebc1562eb","4f9754633d90a320"]]},{"id":"323c4403bc0541db","type":"ui_button","z":"b5a81f2e3eb03fa1","name":"","group":"100bf9478f6e140e","order":9,"width":2,"height":1,"passthru":false,"label":"Open","tooltip":"","color":"","bgcolor":"","className":"","icon":"folder_open","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":440,"wires":[["0cba8136e2d0640f"]]},{"id":"0cba8136e2d0640f","type":"function","z":"b5a81f2e3eb03fa1","name":"Change folder","func":"// Get the filename from the flow context\nlet folderselected = flow.get(\"folderselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (folderselected===undefined) {\n    return;\n}\n\nmsg.topic = \"change\";\nmsg.payload = folderselected;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":440,"wires":[["3d94127506b4188c"]]},{"id":"fa7c29f89ba72448","type":"ui_button","z":"b5a81f2e3eb03fa1","name":"","group":"100bf9478f6e140e","order":1,"width":3,"height":1,"passthru":false,"label":"Brokers","tooltip":"","color":"","bgcolor":"{{colour}}","className":"","icon":"settings","payload":"/home/agge/sluggo_config/Brokers","payloadType":"str","topic":"change","topicType":"str","x":180,"y":80,"wires":[["3d94127506b4188c"]]},{"id":"863a0df092e2e6fc","type":"fs-file-lister","z":"b5a81f2e3eb03fa1","name":"Folders","start":"/home/agge/sluggo_config/Clients","pattern":"*.*","folders":"*","hidden":false,"lstype":"directories","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":840,"y":580,"wires":[["dc9c91617e91280f"]]},{"id":"d62874eb2172e2b3","type":"ui_dropdown","z":"b5a81f2e3eb03fa1","name":"Folder Selector","label":"","tooltip":"","place":"Select a folder","group":"100bf9478f6e140e","order":7,"width":5,"height":1,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1200,"y":580,"wires":[["e3ed4a97d5c14b47"]]},{"id":"4029a9549e27dbbc","type":"change","z":"b5a81f2e3eb03fa1","name":"Save selection","rules":[{"t":"set","p":"fileselected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":420,"wires":[[]]},{"id":"e3ed4a97d5c14b47","type":"change","z":"b5a81f2e3eb03fa1","name":"Save selection","rules":[{"t":"set","p":"folderselected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":580,"wires":[[]]},{"id":"2d698a16ac7bda79","type":"ui_button","z":"b5a81f2e3eb03fa1","name":"","group":"100bf9478f6e140e","order":2,"width":3,"height":1,"passthru":false,"label":"Terminators","tooltip":"","color":"","bgcolor":"{{colour}}","className":"","icon":"settings","payload":"/home/agge/sluggo_config/Terminators","payloadType":"str","topic":"change","topicType":"str","x":170,"y":140,"wires":[["3d94127506b4188c"]]},{"id":"338fb94b1331bc66","type":"ui_button","z":"b5a81f2e3eb03fa1","name":"","group":"100bf9478f6e140e","order":3,"width":3,"height":1,"passthru":false,"label":"Clients","tooltip":"","color":"","bgcolor":"{{colour}}","className":"","icon":"settings","payload":"/home/agge/sluggo_config/Clients","payloadType":"str","topic":"change","topicType":"str","x":190,"y":200,"wires":[["3d94127506b4188c"]]},{"id":"defe0dddccd0818d","type":"ui_button","z":"b5a81f2e3eb03fa1","name":"","group":"100bf9478f6e140e","order":4,"width":3,"height":1,"passthru":false,"label":"Backups","tooltip":"","color":"","bgcolor":"{{colour}}","className":"","icon":"backup","payload":"/home/agge/sluggo_config/Backups","payloadType":"str","topic":"change","topicType":"str","x":180,"y":260,"wires":[["3d94127506b4188c"]]},{"id":"7f23d180a5ec7629","type":"function","z":"b5a81f2e3eb03fa1","name":"Format data","func":"// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a file\n    let obj = {};\n    obj [msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":420,"wires":[["9251efe611fe8cdd"]]},{"id":"dc9c91617e91280f","type":"function","z":"b5a81f2e3eb03fa1","name":"Format data","func":"// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a folder\n   let  obj = {};\n    obj [\"[\"+msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')+\"]\"]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":580,"wires":[["d62874eb2172e2b3"]]},{"id":"4abb754dd129d19d","type":"debug","z":"b5a81f2e3eb03fa1","name":"Folder Handlig","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":360,"wires":[]},{"id":"6dfa5f99e95f7cb9","type":"function","z":"b5a81f2e3eb03fa1","name":"Flip Blue colour","func":"let path = msg.payload.start;\n\nif (path == \"/home/agge/sluggo_config/Clients\") {\n    msg.colour = \"lightblue\";\n} else {\n    msg.colour = \"darkblue\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":260,"wires":[["338fb94b1331bc66"]]},{"id":"b88ec0252dabc43b","type":"function","z":"b5a81f2e3eb03fa1","name":"Flip Blue colour","func":"let path = msg.payload.start;\n\nif (path == \"/home/agge/sluggo_config/Brokers\") {\n    msg.colour = \"lightblue\";\n} else {\n    msg.colour = \"darkblue\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":140,"wires":[["fa7c29f89ba72448"]]},{"id":"7dd2b36ebc1562eb","type":"function","z":"b5a81f2e3eb03fa1","name":"Flip Blue colour","func":"let path = msg.payload.start;\n\nif (path == \"/home/agge/sluggo_config/Termintors\") {\n    msg.colour = \"lightblue\";\n} else {\n    msg.colour = \"darkblue\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":200,"wires":[["2d698a16ac7bda79"]]},{"id":"4f9754633d90a320","type":"function","z":"b5a81f2e3eb03fa1","name":"Flip Blue colour","func":"let path = msg.payload.start;\n\nif (path == \"/home/agge/sluggo_config/Backups\") {\n    msg.colour = \"lightblue\";\n} else {\n    msg.colour = \"darkblue\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":320,"wires":[["defe0dddccd0818d"]]},{"id":"7c3a2836e54894be","type":"ui_button","z":"b5a81f2e3eb03fa1","name":"","group":"100bf9478f6e140e","order":14,"width":2,"height":1,"passthru":true,"label":"Refresh","tooltip":"","color":"","bgcolor":"","className":"","icon":"refresh","payload":"","payloadType":"str","topic":"refresh","topicType":"str","x":180,"y":320,"wires":[["3d94127506b4188c"]]},{"id":"5f3b2b9303a69c2e","type":"ui_spacer","z":"b5a81f2e3eb03fa1","name":"spacer","group":"100bf9478f6e140e","order":8,"width":2,"height":1},{"id":"c270980fbcd04847","type":"ui_spacer","z":"b5a81f2e3eb03fa1","name":"spacer","group":"100bf9478f6e140e","order":11,"width":1,"height":1},{"id":"c34dabe7e34ff474","type":"ui_spacer","z":"b5a81f2e3eb03fa1","name":"spacer","group":"100bf9478f6e140e","order":13,"width":2,"height":1},{"id":"100bf9478f6e140e","type":"ui_group","name":"File Browser","tab":"5c1a6cfd44248f7e","order":1,"disp":true,"width":12,"collapse":false},{"id":"5c1a6cfd44248f7e","type":"ui_tab","name":"File Manager","icon":"dashboard","order":5,"disabled":false,"hidden":false}]